<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drag and Drop</title>
    <style>
    * {
			margin: 0;
			padding: 0;
			position: absolute;
		}
		#box{
			border: 2px solid red;
			left: 25px;
			top: 25px;
      height: auto;
      width: 240px;
		}
    </style>
  </head>
    <body>
      <img id="box" class="draggable" src="https://poppin.imgix.net/products/netsuite/1box_seat_red_01_a.jpg">
      <script>
        var isMouseDown = false,
        isMouseOver = false,
        obj = null,
        offsetX = null,
        offsetY = null;
        document.onmousedown = mouseDown;
        document.onmouseup = mouseUp;
        document.onmousemove = mouseMove;
        document.onmouseover = mouseOver;
        document.onmouseout = mouseOut;

    function mouseOver(e) {
    	obj = e.target;
    	if(obj.className == "draggable") {
    		isMouseOver = true;
    	} else {
    		isMouseOver = false;
    		obj = null;
    	} //end if
    } // end mouseOver

    function mouseOut(e) {
    	isMouseOver = false;
    	obj = null;
    } //end mouseOut

    function mouseDown(e) {
    	if(!e) {
    		if(window.event) {
    			e = window.event;
    		} else { return;} //end inner if
    	} //end if
    	if(isMouseOver) {
    		isMouseDown = true;
    		offsetX = e.clientX - parseInt(obj.offsetLeft);
    		offsetY = e.clientY - parseInt(obj.offsetTop);
    	} // end if
    } // end mouseDown

    function mouseUp() {
    	isMouseDown = false;
    } //end mouseUp

    function mouseMove(e) {
    	if(!e) {
    		if(window.event) {
    			e = window.event;
    		} else {
    			return;
    		} //end if
    	} //end mouseMove

    	if(isMouseDown && isMouseOver && obj != null) {
    		obj.style.position = "absolute";
    		obj.style.margin = "0px";
        obj.style.left = e.clientX - offsetX + "px";
        obj.style.top = e.clientY - offsetY + "px";
    	} //end if
    } // end mouseMove

      </script>
    </body>
</html>